body{
	background: url("../images/camellia.jpg");
	background-size: cover;
	text-align: center;
	color:#000000;
	font-family: "Roboto", sans-serif;
}

p{
	padding-left: 300px;
	padding-right: 300px;
}

ul{
	list-style-type: none;
	font-weight: 600;
	margin-bottom: 200px;
}

#slogan{
	font-family: "Roboto", sans-serif;
	font-style: italic;
	font-size: 50px;
	color: #fff;
}

hr {
	  width: 400px;
}